
caption  {
  text-align:center;
}
caption a {
  color:#33ff66;
}

.dropdown {
  position: relative;
  display: inline-block;
}

span {
  display: inline;
  color: #7799;
  background-color: aquamarine;
  font-size: large;
  border: 1px ridge blanchedalmond;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7799;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
